venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

app/form_responses/*.json
!app/form_responses/form_template.json

# app/.env
app/rooms.db
# app/admins.txt
