#interactive-app-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    margin: 30px;
    background-color: rgb(0, 255, 0);
    height: calc(100vh - 150px);
}

ul {
    list-style: none;
    padding: 0;
}

li {
background: rgb(228, 228, 228);
margin: 1px;
padding: 5px 10px;
}

.sortable-ghost {
opacity: .6;
}

/* #preferences-table {
    height: 100%;
} */

#preferences-table tbody {
    /* display: block; */
    overflow: auto;
    background-color: lightpink;
}

#preference-table-body-height-filler {
    height: auto;
    width: 98%;
    background-color: lightseagreen;
    overflow-y: visible;
    position: absolute;
}

/* #preferences-table thead tr {
    display: block;
} */

#room-chosen-wrapper, #room-selector {
    position: relative;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    height: 100%
}

#college-and-floor-selector {
    padding-left: 20px;
    padding-right: 20px;
}

#level-select-button-bar {
    padding: 0;
}

#college-select {
    margin-right: 20px;
}

#preference-bin {
    position: absolute;
    bottom: 20px;
}

#college-map-container {
    width: 100%;
    height: calc(100% - 100px);
    padding: 5px;
    margin: 20px 0 0 0;
    background-color: grey;
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
}

.college-map-common {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    margin: auto;
    background-color: red;
}

#map-floor-1 {
    background-color: green;
}

#map-floor-2 {
    background-color: orange;
}

#map-floor-3 {
    background-color: lightskyblue;
}

#map-floor-4 {
    background-color:cadetblue;
}

#map-floor-5 {
    background-color:magenta;
}

#map-floor-6 {
    background-color:royalblue;
}

#map-floor-7 {
    background-color:azure;
}

#map-floor-8 {
    background-color:plum;
}

#map-floor-9 {
    background-color:lightgreen;
}
