#college-and-floor-selector {
    padding-left: 20px;
    padding-right: 20px;
}

#level-select-button-bar {
    padding: 0;
}

#college-select {
    margin-right: 20px;
}

/* #preference-bin {

} */
