#room-chosen-wrapper, #room-selector {
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

#college-and-floor-selector {
    padding-left: 20px;
    padding-right: 20px;
}

#level-select-button-bar {
    padding: 0;
}

#college-select {
    margin-right: 20px;
}

#preference-bin {
    position: absolute;
    bottom: 0;
}

/* #preference-bin tr {
    display: none;
} */

#college-map-container {
    width: 100%;
    height: calc(100% - 80px);
    padding: 20px;
    margin: 20px 0 0 0;
    background-color: grey;
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
}

.college-map-common {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    margin: auto;
    background-color: red;
}

#map-floor-1 {
    background-color: green;
}

#map-floor-2 {
    background-color: orange;
}

#map-floor-3 {
    background-color: lightskyblue;
}

#map-floor-4 {
    background-color:cadetblue;
}

#map-floor-5 {
    background-color:magenta;
}

#map-floor-6 {
    background-color:royalblue;
}

#map-floor-7 {
    background-color:azure;
}

#map-floor-8 {
    background-color:plum;
}

#map-floor-9 {
    background-color:lightgreen;
}
