/* UNSW HALL */

.hall-1 {
    height: 37vh;
}

.hall-mid {
    height: 75vh;
}

.hall-upper {
    height: 75vh;
    width: 13.8vw;
}

/* FLOOR-TYPE STYLE (lvls {1}, {2,3,4,5}, {6,7} are different) */

/* HALL WEST CLUSTERS */
.floor-map-hall--cluster-west {
    background-color: red;
    border-width: 1px;
    border-color: aqua;
    border-style: solid;
    grid-column : 1 / 17;
    display: grid;
}

.floor-map-hall--cluster-west.floor-map-hall--lv-1 {
    grid-row: 6 / 17;
}

.floor-map-hall--cluster-west.floor-map-hall--lv-mid {
    grid-row: 21 / 34;
}

/* HALL EAST CLUSTERS */
.floor-map-hall--cluster-east {
    background-color: lightgreen;
    border-width: 1px;
    border-color: aqua;
    border-style: solid;
    grid-column: 25 / 41;
    display: grid;
}
.floor-map-hall--cluster-east.floor-map-hall--lv-1 {
    grid-row: 6 / 17;
}
.floor-map-hall--cluster-east.floor-map-hall--lv-mid {
    grid-row: 21 / 34;
}

/* HALL NORTH CLUSTERS */
.floor-map-hall--cluster-north {
    background-color: coral;
    border-width: 1px;
    border-color: aqua;
    border-style: solid;
    display: grid;
}

.floor-map-hall--cluster-north.floor-map-hall--lv-mid {
    grid-column: 15 / 27;
    grid-row: 1 / 21;
}

.floor-map-hall--cluster-north.floor-map-hall--lv-upper {
    grid-row: 1 / 18;
    grid-column: 1 / 13;
}

/* HALL FLOOR LOBBIES */
.floor-map-hall--floor-lobby {
    background-color: blue;
    display: grid;
}
.floor-map-hall--floor-lobby.floor-map-hall--lv-1 {
    grid-column: 17 / 25;
    grid-row: 6 / 15;
}
.floor-map-hall--floor-lobby.floor-map-hall--lv-mid {
    grid-column: 17 / 25;
    grid-row: 21 / 30;
}
.floor-map-hall--floor-lobby.floor-map-hall--lv-upper {
    grid-row: 18 / 29;
    grid-column: 3 / 11;
}
.floor-map-hall--lv-1.floor-map-hall--elevator-stairwell {
    background-color: hotpink;
    grid-row: 1 / 6;
    grid-column: 16 / 26;
    border-color: aqua;
    border-style: solid;
    border-width: 1px;
    display: grid;
}
/* LV 1 ONLY - ELEVATOR, STAIRWELL */
.floor-map-hall--lv-1.stairwell {
    grid-row: 1 / 21;
    grid-column: 28 / 48;
}
.floor-map-hall--lv-1.elevator {
    grid-row: 1 / 16;
    grid-column: 1 / 15;
}
.floor-map-hall--lv-1.breaker-box {
    grid-row: 16 / 21;
    grid-column: 1 / 15;
}


/* HALL RF ROOMS */

.floor-map-hall--rf-room {
    background-color: aquamarine;
}

.floor-map-hall--rf-room.floor-map-hall--lv-mid {
    grid-row: 25 / 36;
    grid-column: 19 / 23;
}

.floor-map-hall--rf-room.floor-map-hall--lv-upper {
    grid-row: 23 / 36;
    grid-column: 5 / 9;
}

/* NORTH, EAST, WEST CLUSTER STYLES - COMMON BETWEEN ALL FLOOR TYPES */

/* HALL EAST WEST CLUSTERS COMMON */
.floor-map-hall--cluster-west.north-room, .floor-map-hall--cluster-east.north-room {
    grid-row: 5 / 15;
}

.floor-map-hall--cluster-west.south-room, .floor-map-hall--cluster-east.south-room {
    grid-row: 19 / 29;
}

.large-room-north-balcony {
    grid-row: 1 / 7;
    border-style: none none solid none;
}

.large-room-south-balcony {
    grid-row: 27 / 31;
    border-style: solid none none none;
}

.floor-map-hall--cluster-west.south-bathroom, .floor-map-hall--cluster-east.south-bathroom {
    grid-row: 21 / 29;
}

/* HALL WEST CLUSTERS */

.floor-map-hall--cluster-west.large-room {
    grid-column: 1 / 4;
    grid-row: 1 / 31;
    display: grid;
}

/* clockwise from southeast room */
/* 1, 5 */
.floor-map-hall--cluster-west.west-cluster-1, .floor-map-hall--cluster-west.west-cluster-5 {
    grid-column: 8 / 10;
}
/* 2, 3 */
.floor-map-hall--cluster-west.west-cluster-2, .floor-map-hall--cluster-west.west-cluster-3 {
    grid-column: 4 / 6;
}
/* 4 */
.floor-map-hall--cluster-west.west-cluster-4 {
    grid-column: 6 / 8;
}

.floor-map-hall--cluster-west.west-cluster-left-bathroom {
    grid-column: 6 / 7;
}

.floor-map-hall--cluster-west.west-cluster-right-bathroom {
    grid-column: 7 / 8;
}

/* HALL EAST CLUSTERS */

.floor-map-hall--cluster-east.large-room {
    grid-column: 13 / 21;
    grid-row: 1 / 31;
    display: grid;
}

.floor-map-hall--cluster-east.large-room-south-balcony {
    grid-column: 8 / 30;
}

.floor-map-hall--cluster-east.large-room-north-balcony {
    grid-column: 1 / 30;
}

.floor-map-hall--cluster-east.large-room-south-balcony.mask {
    grid-column: 1 / 8;
    grid-row: 18 / 31;
    border-color: red green blue yellow;
    border-style: solid;
    margin: 1px 0px -1px -1px;
}

/* clockwise from northwest room */
/* 4 */
.floor-map-hall--cluster-east.south-room.east-cluster-4 {
    grid-column: 11 / 15;
}

/* 1, 5 */
.floor-map-hall--cluster-east.south-room.east-cluster-5, .floor-map-hall--cluster-east.north-room.east-cluster-1 {
    grid-column: 1 / 5;
}

/* 2 */
.floor-map-hall--cluster-east.north-room.east-cluster-2 {
    grid-column: 5 / 9;
}

/* 3 */
.floor-map-hall--cluster-east.north-room.east-cluster-3 {
    grid-column: 9 / 13;
}


.floor-map-hall--cluster-east.east-cluster-left-bathroom {
    grid-column: 5 / 8;
}

.floor-map-hall--cluster-east.east-cluster-right-bathroom {
    grid-column: 8 / 11;
}

/* HALL NORTH CLUSTERS */

.floor-map-hall--cluster-north.large-room {
    grid-row: 1 / 24;
    grid-column: 1 / 61;
    display: grid;
}

.floor-map-hall--cluster-north.large-room-west-balcony {
    border-style: none solid none none;
    grid-column: 1 / 5;
    grid-row: 1 / 30;
}

.floor-map-hall--cluster-north.large-room-east-balcony {
    border-style: none none none solid;
    grid-column: 28 / 32;
    grid-row: 1 / 24;
}

.floor-map-hall--cluster-north.large-room-east-balcony.mask {
    border-style: solid;
    border-color: red green yellow blue;
    grid-column: 18 / 32;
    grid-row: 24 / 30;
    margin: -1px -2px -1px 3px;
}

.floor-map-hall--cluster-north.west-room {
    grid-column: 7 / 28;
}

.floor-map-hall--cluster-north.east-room {
    grid-column: 34 / 55;
}

.floor-map-hall--cluster-north.north-cluster-2 {
    grid-row: 24 / 38;
}

.floor-map-hall--cluster-north.north-cluster-1 {
    grid-row: 56 / 71;
}

.floor-map-hall--cluster-north.north-cluster-3 {
    grid-row: 19 / 33;
}

.floor-map-hall--cluster-north.north-cluster-4 {
    grid-row: 33 / 48;
}

.floor-map-hall--cluster-north.north-cluster-5 {
    grid-row: 48 / 62;
}

.floor-map-hall--cluster-north.north-cluster-6 {
    grid-row: 62 / 77;
}

.floor-map-hall--cluster-north.north-cluster-north-bathroom {
    grid-row: 38 / 47;
    grid-column: 7 / 24;
}

.floor-map-hall--cluster-north.north-cluster-south-bathroom {
    grid-row: 47 / 56;
    grid-column: 7 / 24;
}

.floor-map-hall--cluster-north.stairwell {
    grid-row: 77 / 91;
}

.floor-map-hall--cluster-north.elevator {
    grid-row: 71 / 86;
    grid-column: 7 / 21;
}

.floor-map-hall--cluster-north.breaker-box {
    grid-row: 86 / 91;
    grid-column: 7 / 21;
}

.draggable-room{
    min-height: 40px;
}

.draggable-room:hover {
    transform: scale(1.05);
    transition: .2s ease-in-out 0s;
    cursor: pointer;
}
