{% extends "layout.html" %}

{% block styles %}
<link href="/static/index.css" rel="stylesheet">
{% endblock %}

{% block main %}
<h3>
    INDEX WIP
</h3>
<p>
    hello, {{ current_user.zid }}
</p>
<div id="interactive-app-wrapper" class="">
    <div id="room-chosen-wrapper" class="">
        chosen rooms
        <table class="table" id="preferences-table">
            <thead>
                <tr>
                    <th scope="col">rank</th>
                    <th scope="col">room name</th>
                    <th scope="col">floor</th>
                    <th scope="col">college</th>
                </tr>
            </thead>
            <tbody id="preference-table-body">
                {% for preference in preferences %}
                <tr class="preference-list-row">
                    <th scope="row">
                        {{ preference.rank }}
                    </th>
                    <td>
                        {{ preference.room_name }}
                    </td>
                    <td>
                        {{ preference.floor_level }}
                    </td>
                    <td>
                        {{ preference.college_name }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button id="preference-bin" class="btn btn-outline-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
            Delete preferences
        </button>
    </div>
    <div id="room-selector" class="">
        room selector
        <br>
        <div class="container" id="college-and-floor-selector">
            <div class="row">
                <label for="colleges" class="sr-only">College: </label>
                <select id="college-select" name="colleges" class="form-select col"  {{ 'disabled' if colleges|length <= 1}}>
                    {% for college in colleges %}
                        <option value={{ college.college_name }}>{{ college.college_name }}</option>
                    {% endfor %}
                </select>

                <div id="level-select-button-bar" class="btn-group col-8" role="group">
                    {% for floor in colleges[0].college_floors %}
                    <button type="button" class="btn btn-secondary">{{ floor.floor_level }}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    halp :<
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script type="text/javascript" src='/static/index.js'></script>
{% endblock %}

