{% extends "layout.html" %}

{% block main %}
<h3>
    INDEX WIP
</h3>
<p>
    hello, {{ current_user.zid }}
</p>
<div id="interactive-app-wrapper" class="">
    <div id="room-chosen-wrapper" class="">
        chosen rooms
        <table class="table" id="preferences-table">
            <thead>
                <tr>
                    <th scope="col">rank</th>
                    <th scope="col">room name</th>
                </tr>
            </thead>
            <tbody id="preference-table-body">
                {% for preference in preferences %}
                <tr class="preference-list-row">
                    <th scope="row">
                        {{ preference.rank }}
                    </th>
                    <td>
                        {{ preference.room.room_name }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="room-selector" class="">
        room selector
    </div>
</div>

<div>
    halp :<
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script type="text/javascript" src='/static/index.js'></script>
{% endblock %}

