{% extends "layout.html" %}

{% block styles %}
<link href="/static/index.css" rel="stylesheet">
<link href="/static/maps.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light bg-light justify-content-between">
    <span class="navbar-brand">
        LOGO HERE
    </span>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/room_point_form">form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block main %}
<div id="interactive-app-wrapper" class="">
    <div id="room-chosen-wrapper" class="">
        <table class="table" id="preferences-table">
            <thead id="preference-table-head">
                <tr>
                    <th scope="col" class="td-rank">rank</th>
                    <th scope="col" class="td-room-name">room name</th>
                    <th scope="col" class="td-floor-level">floor</th>
                    <th scope="col" class="td-college-name">college</th>
                </tr>
            </thead>
            <tbody id="preference-table-body" data-num-preferences="{{preferences|length}}">
                {% for preference in preferences %}
                <tr class="preference-list-row" data-preference-rank="{{preference.rank}}">
                    <th scope="row" class="td-rank">
                        {{ preference.rank }}
                    </th>
                    <td class="td-room-name">
                        {{ preference.room_name }}
                    </td>
                    <td class="td-floor-level">
                        {{ preference.floor_level }}
                    </td>
                    <td class="td-college-name">
                        {{ preference.college_name }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button id="preference-bin" class="btn btn-outline-danger" onclick="delete_all_preferences()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
            Delete preferences
        </button>
    </div>
    <div id="room-selector" class="">
        <div class="" id="college-and-floor-selector">
            <label for="colleges" class="sr-only">College: </label>
            <select id="college-select" name="colleges" class="form-select col" title="select-college" {{ 'disabled' if colleges|length <= 1}}>
                {% for college in colleges %}
                <option value="college-id-{{college.college_id}}" id="college-id-{{college.college_id}}" class="college-select-option" data-college-id="{{college.college_id}}">{{ college.college_name }}</option>
                <!-- onclick="current_college_selected.change_displayed_college('college-id-{{ college.college_id }}')" -->
                {% endfor %}
            </select>
            <div id="button-bar-wrapper">
                {% for college in colleges %}
                <div id="button-bar-college-id-{{college.college_id}}" data-college-id = "{{college.college_id}}" class="btn-group button-bar" role="group" style="display: none">
                    {% for floor in college.college_floors %}
                    <button type="button" class="btn btn-secondary" id="btn-floor-{{floor.id}}" onclick="current_map_displayed.change_displayed_level('map-floor-{{ floor.id }}')">{{ floor.floor_level }}</button>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="college-map-container">
            {% for college in colleges %}
                {% set outer_loop = loop %}
                {% for floor in college.college_floors %}
                    <div id="map-floor-{{ floor.id }}" data-floor-id = "{{ floor.id }}" data-college-id = "{{ college.college_id }}" class="college-map-common">
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script type="text/javascript" src='/static/maps.js'></script>
<script>
    var colleges = '{{ colleges|tojson|safe }}';
    create_college_maps(colleges);
</script>
<script type="text/javascript" src='/static/index.js'></script>
{% endblock %}

