{% extends "layout.html" %}

{% block main %}
<div class="d-flex justify-content-center text-center">
    <div id="register-form">
        <h3>Request reset link</h3>
        <form id="form-signin" method="POST" action="/request_passwordreset">
            <label for="zid" class="sr-only">Zid</label>
            <input class="form-control full-border" name="zid" id="zid" placeholder="Zid" required="" autofocus="">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Get Link</button>
        </form>
        <a class="no-text-decoration" href="login">
            Cancel
        </a>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/zid_format_enforce.js"></script>
{% endblock %}
